:root{
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --backLightBlue: #99daff;
    --mainWhite: #f3f3f3;
    --mainDark: #232525;
    --mainYellow: #ffa400;
  }
  .decErrorPage {    
    font-size: 120px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Bungee', cursive;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 122px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    font-family: 'Manjari', sans-serif;
    background: var(--backLightBlue) !important;
    color: var(--mainDark) !important;
    
  }

  .decTabs {
    text-align: center;
  }

  .footer {
    color: white;
    background-color: var(--mainBlue);
    text-align: center;
    margin-bottom: 0px;
  }
  .text-title {
    font-family: 'Bonbon' !important; 
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }

  .request {
    text-align: center;
    margin-top: 100px;
  }
  
  .text-blue {
    color: var(--mainBlue) !important
  }
  
  .text-bright {
    color: var(--lightBlue) !important
  }
  